/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.admin-container {
	border: 2px solid #4d4d4d;
	width: 50%;
	height: 40px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}
.margin-bottom-40 {
	margin-bottom: 40px;
}

.w100 {
	width: 100%;
}

#timeLineScroll {
	overflow-x: scroll;
	overflow-y: hidden;
}
@font-face {
	font-family: Yggdrasil; /* Имя шрифта */
	src: url(./Yggdrasil.ttf); /* Путь к файлу со шрифтом */
}
body #timeLineScroll *{
	font-family: Yggdrasil !important;
	font-size: 25px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(6,6,6,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(6,6,6,0.5);
}
