<div class="container" style="margin-top: 80px">
	<div class="row">
		<mat-card>
			<mat-card-content>
				<button mat-button (click)="onClick('editFullCityInfo')">
					<span class="">Edit city info</span>
				</button>
			</mat-card-content>
		</mat-card>
		<hr>
		<mat-card>
			<mat-card-content>
				<button mat-button (click)="onClick('editShortCityInfo')">
					<span class="">Edit city period info</span>
				</button>
			</mat-card-content>
		</mat-card>
		<hr>
		<mat-card>
			<mat-card-content>
				<button mat-button (click)="onClick('editMarkers')">
					<span class="">Edit city markers</span>
				</button>
			</mat-card-content>
		</mat-card>
	</div>
</div>
